.red-text {
	color: red;
}

h1 {
	font-family: Comic Sans MS, monospace;
	font-size: 50px;
}

p {
	font-size: 16px;
	font-family: monospace;
}

.pink-border {
	border-color: pink;
	border-width: 10px;
	border-style: solid;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.silver-background {
	background-color: silver;
}

.silver-background:hover {
	background-color: white;
}

.nice-background {
	background-color: lightgoldenrodyellow;
}

.cat-image {
	width:600px;
	animation-duration: 3s;
	animation-name: slidein;
}

	@keyframes slidein {
		from {
			margin-left: 100%;
			width: 300%; 
		}
		to {
			margin-left: auto;
			width: 600px;
		}	
	}
}
